/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;
  padding: 1em;
}

#wrapper {

  position: relative;
  z-index: 0;
  max-width: 750px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

main {
  margin: auto;
}

header a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.siteName {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#tools a {
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 1.2em;
  font-family: Arial, sans-serif;
}

/********** Navigation styles ************/
nav {
  background-color: #1b1818;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

nav ul {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 90%;
}

nav li {
  padding: 1rem;
  flex: 1;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav li:hover {
  background-color: #4466ee;
}

nav a:hover {
  color: white;
}
/********** HOME body styles ************/

.hero {
  position: relative;
}
.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  background-color: rgba(255, 255, 255, 0.616);
  color: rgb(69, 205, 235);
  display: inline-block;
  width: auto;
}

.tag h1 {
  font-size: 3em;
}

.tag p {
  font-size: 1.5em;
  margin: auto;
}

.cta {
  padding: 1rem 0rem 1rem;
}

.reviews {
  padding: 2rem 0rem;
}

.reviews li {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 1rem;

}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.photo-bg {
  background-color: rgb(69, 205, 235);
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: solid 1px black;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.links {
  padding-bottom: 2rem;
}

.links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  display: block;
  text-align: center;
}

/********** INV body styles ************/
main h1 {
  padding: 1rem;
}

#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

#inv-display li a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: auto;
}

#inv-display li {
  list-style: none;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s, box-shadow 0.3s;
}

#inv-display li:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#inv-display li img {
  width: 320px;
  height: 200px;
  border-radius: 5px;
}

.namePrice {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.error_msg {
  padding: 1rem;
  color: rgb(36, 64, 112);
  font-size: 1.5rem;
}

/********** Vehicle Detail styles ************/
.vehicle-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.vehicle-image {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.vehicle-specs {
  background-color: rgba(105, 152, 176, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.vehicle-specs p {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  margin: 0;
  border-bottom: 1px solid rgba(105, 152, 176, 0.1);
}

.vehi_desc {
  padding: 1rem;
  line-height: 1.5;
  font-size: 1.1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 1rem;
}


footer p {
  text-align: left;
  font-size: 1.2em;
  padding: 1rem;
  color: blue;
}

@media (min-width: 780px) {
  body {
    background-image: url('../images/site/small_check.jpg');
  }

  #wrapper {
    border: solid 5px rgb(69, 205, 235);
    border-radius: 15px;
  }

  header,
  #wrapper,
  nav ul {
    max-width: 1010px;
  }

  nav {
    padding: .5rem;
    margin: .5rem;
  }

  nav ul {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  nav a {
    font-size: 1.5em;
    transition: color 0.3s ease, background-color 0.3s ease;
  }

  .desk {
    padding: 1rem;
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .upgrades {
    grid-column: 1;
    grid-row: 1;
  }

  .tag {
    margin-left: 3rem;
  }

  .tag h2 {
    font-size: 2.5em;
  }

  .tag p {
    font-size: 2em;
  }

  .hero-image {
    left: 75%;
  }

}